/* base.css */
/* header ------------------------------------------------- */
html{background-color: #29292c;}
#headBox{background-color: #29292c;}
#headBox>h1{}
#headBox a{color: #fff;}
#navigation span{width: 0; height: 0;display: none;}
.gnb a{text-transform: uppercase;}
/* article ------------------------------------------------- */
#main{background-color: #4787be;}
#banner{}

/* section ------------------------------------------------- */

/* main ---------------------------------------------------- */
.mainImg{display: none;}
.mainTxt>h3{display: none;}
.mainTxt>p{display: none;}





/* contact ------------------------------------------------- */
.conInfo{}
.snsBox{}
.inquiryBox{/*background-color: #333;*/}



/* footer ------------------------------------------------- */