/* pc.css */
/* header ------------------------------------------------- */
#headBox{width: 10%; height: 100%; float: left; padding: 20px; box-sizing: border-box; }
#headBox>h1{width: 50px; height: 50px; font-size: 2rem; font-family: 'Yellowtail', cursive; color: #fff;}
#navigation{margin-top: 220px;}
#navigation i{width: 0; height: 0; display: none;}
.gnb{width: 100%; height: 100%;}
.gnb>li{width: 100%; height: 100%; margin-bottom: 10px;}
.gnb>li:last-child{margin-bottom: 0;}


/* article ------------------------------------------------- */
#main, #content{width: 90%;  height: 100%; float: left;}


/* section ------------------------------------------------- */
section{width: 100%; height: 100%; padding: 60px 60px; padding-top: 50px; box-sizing: border-box; float: left; }
section>h2{height: 2.5rem; font-size: 1.5rem; margin-bottom: 100px; position: relative; line-height: 2; text-transform: uppercase;}
section>h2::after{content: ""; display: block; width: 30px; height: 2px; background-color: #4787be; position: absolute; left: 0; top: 0;}

/* main ---------------------------------------------------- */
.mainImg{width: 40%; height: 100%; float: left;}
section.mainTxt{width: 630px; height: 40%; float: right; margin-top: 30%; box-sizing: border-box; }
.mainTxt>h3{font-size: 2rem; color: #fff;}
.mainTxt>p{margin-top: 15px; }

/* about ---------------------------------------------------- */
section.resumeWrap{height: auto; background-color: #fefefe;}
section.resumeWrap>h2{margin-bottom: 50px;}
.resumeBox{width: 100%; height: 800px; }
.resumeBox>li{width: 600px; height: 100%; float: left; margin-right: 50px; background-size: contain; background-repeat: no-repeat; margin-bottom: 30px;}
.resume_1{background-image: url("../../img/resume_1.jpg"); }
.resume_2{background-image: url("../../img/resume_2.jpg");}

/* work ---------------------------------------------------- */
article#content{background-color: #fff; height: 100%;}
section.workWrap{width: 100%;height: auto;}
.workBox>li{width: calc(33.333333% - 30px); height: 300px; margin-right: 30px; float: left; margin-bottom: 20px;}
.workBox>li:nth-of-type(3n){margin-right: 0;}
.workBox figure{width: 100%; height: 100%; margin: 0; position: relative; overflow: hidden; }
.workBox figure>img{width: 100%; height: 100%; display: block; position: relative;}
.workBox figcaption{width: 100%; height: 60px; padding: 10px; box-sizing: border-box; opacity: 0; position: absolute; top: auto; 
	bottom: 0; left: 0;  background-color: #29292c; transform: translateY(100%); transition: transform 0.4s, opacity 0.1s 0.3s;}
.workBox figcaption>h3{margin: 0; padding: 0; color: #fff;}
.workBox figcaption>span{color:; font-size: 0.8rem;}
.workBox figcaption>a{text-align: center; /* background-color: #29292c; */background-color: #4787be;padding: 2px 10px; position: absolute; bottom: 10px; right: 10px;
	border-radius: 2px; color: #fff;}
.workBox figure:hover figcaption{transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s; opacity: 1;}

.workBtn{width: 100%; height: 100px; float: left; text-align: center; padding-top: 100px; box-sizing: border-box;}
  .workBtn>button[type=button]{width:100px; height:30px; background-color: transparent; border-radius: 20px;
  	text-transform: uppercase; border: 2px solid #4787b4; margin-right: 20px; }
  .workBtn>button[type=button]:last-child{margin-right: 0;} 	
  .workBtn>button[type=button]>i{ font-size:1rem;}
  .workBtn>button[type=button]:hover{background-color: #4787b4; color: #fff; transition: all 0.5s;}
  .workBtn>button[type=button]:hover > i{color: #fff; border: 0; transition: all 0.5s;}
  .lbtn>i{float: left; margin-left: 10px;}
  .rbtn>i{float: right; margin-right: 10px;}


section.workDes{ padding: 0;}  
.workDes>h2{width: 0; height: 0; display: none;}
.workDes>img{width: 100%; height: auto;}

/* contact ------------------------------------------------- */
section.contactWrap{background-color: #fff; height: 100%;}
section.contactWrap>h2{margin-bottom: 80px;}
.conInfo{width: 100%; height: 50px; float: left; font-size: 1rem; border-bottom: 1px solid #d1d3d4; margin-bottom: 80px;}
.conInfo>h3{width: 250px; float: left; font-style: italic; /*font-size: 1.2rem;*/}
.conInfo>ul{width: 50%; height: 30px; float: left;}
.conInfo>ul>li{float: left; margin-right:90px;}
.conInfo i{margin-right: 15px;}


.inquiryBox{width: 700px; height: 250px; float: left;}
.inquiryRead{width: 250px; float: left; background:}
.inquiryRead>li{height: 30px; margin-bottom: 10px;}
.inquiryWrite{width: 450px; float: left;}

form{width: 100%; height: 100%;}
legend{width: 0; height: 0; display: block; overflow: hidden;}
input, textarea{width: 100%; height: 100%; background-color: transparent; border: 1px solid #d1d3d4;}

.inquiryWrite>li{width: 100%; height:30px; float: left; margin-bottom: 10px;}
.inquiryWrite>li:last-of-type{width: 100%; height: 80px; margin-top: 10px;}
textarea{height: 100px;text-indent: 5px; resize:none; padding-top: 5px; box-sizing: border-box;}
.inquiryWrite input:hover, textarea:hover{border: 1px solid #4787b4; transition: all 0.5s;}

.sendBtn{width: 100%; margin-top:80px; float: left; }
.sendBtn>li{width: 100px; height: 30px; float: right; }
.sendBtn input{text-transform: uppercase; border-radius: 20px;}
input[type="submit"]{border: 2px solid #4787b4;}
input[type="submit"]:hover{background-color: #4787b4; color: #fff; transition: all 0.5s;}


/* footer ------------------------------------------------- */
#footBox{width: 0; height: 0; display: none;}