@media screen and (max-width: 767px){
	#headBox{min-height: 4.5rem; height: 9.387222vw;}
	h1{min-width: 2.5rem; width: 21.744791vw; min-height: 2.5rem; height: 5.215123vw;}
	#gnb{min-width: 6.25rem; width:13.037809vw; min-height:2.5rem;  height:5.215123vw; float: right; }
	#gnb>h2{min-width: 2.5rem; width: 5.215123vw; min-height: 2.5rem; height: 5.215123vw; float: right;}
	#gnb button{width: inherit; height:inherit; background-color: transparent;}
	#gnb button>i{font-size:2rem; color:#fff; text-align: center; }
	#gnb>ul{min-width: 2.5rem; width: 5.215123vw; min-height: 2.5rem; height: 5.215123vw;}
	#gnb li{display: none;}
	#gnb .search{min-width: 2.5rem; width: 5.215123vw; min-height: 2.5rem; height: 5.215123vw; display: block;}
	#headBox .search>button>i{font-size: 2rem; color: #fff;}


/* #addBanner ------------------------------------------ */
	#addBanner{width: 100%; min-height: 27.125rem; height: 56.584093vw;}




/* #contentBox_01 ------------------------------------------*/
	#contentBox_01{width: 100%; min-height:68.75rem; height: 143.415906vw;}
  .commonTitle{width: calc(100% - 30px); height: 100px; text-align:center; margin: 0 auto;}
  .commonTitle>h2{font-size: 1.5rem;}
  .commonTitle>p{}

	#contentBox_01>ul{width: 180px;  margin: 0 auto;}
	#contentBox_01>ul>li{}
	#contentBox_01 a{}
	#contentBox_01 img{width: 180px; height: 180px;}



/* #tipsWrap ------------------------------------------*/
	#tipsWrap{width: 100%; min-height: 13rem; height: 32.89424vw;}


/* #contentBox_02 ------------------------------------------*/
	#contentBox_02{width: 100%; min-height: 68.75rem; height: 143.415906vw;}
  #contentBox_02>ul{width: calc(100% - 30px); margin-top: 50px; border: 1px solid #333;}
  #contentBox_02>ul>li{width: 100%; height: 9.375rem; margin-bottom: 10px; background-color: #ddc; box-sizing: border-box; 
  	position: relative;}
  #contentBox_02>ul>li:last-child{margin-bottom: 0;}
  #contentBox_02 img{display: block; width: 100%; height: 100%;}
  #contentBox_02 .hover{ }
  #contentBox_02 .conboxTit{}



/* #videoWrap ------------------------------------------*/
	#videoWrap{min-height: 25rem; height: 52.151238vw; background-image: url("");}
	#videoWrap>h2{}
	#videoWrap>video{}
	#videoWrap>a{}
	#videoWrap>a>i{}
	


/* #mapWrap ------------------------------------------*/
	#mapWrap{min-height: 13rem; height: 32.89424vw;}
	#mapWrap>img{height: inherit;}


/* #contentBox_03 ------------------------------------------*/
	#contentBox_03{min-height: 50rem; height: 221.642764vw;}
	#contentBox_03>ul{width: calc(100% - 30px); height: 80%; border: 1px solid #938; margin: 50px auto 0;}
	#contentBox_03>ul>li{min-width: 6.25rem; width: 50%; min-height: 6.25rem; height: 39.113428vw; float: left;}
	#contentBox_03>ul>li:nth-child(1){}
  #contentBox_03>ul>li:nth-child(2){}
  #contentBox_03>ul>li:nth-child(3){}
  #contentBox_03>ul>li:nth-child(4){}
  #contentBox_03>ul>li:nth-child(5){}
  #contentBox_03>ul>li:nth-child(6){}
  #contentBox_03>ul>li:nth-child(7){}
  #contentBox_03>ul>li:nth-child(8){}
  #contentBox_03>ul>li>img{}

/* #footBox ------------------------------------------*/
	#footWrap{min-height: 8rem; height: 19.556714vw;}
	.otherWrap, .infoWrap, .langWrap{display: none;}
	#footWrap .snsWrap{width: 8rem; height: 3rem; margin: 0 auto;}
	.snsWrap>ul{}
	.snsWrap>ul>li{}
	.snsWrap i{}
	address{margin-top: 10px;}
  address>p{min-width: 0; min-height: 0; text-align:center;}