/* pc.css */
@media screen and (min-width:1024px){
	#headBox{height: 6rem; padding: 1rem 240px;}
	  h1{width:10.4375rem; height:4.125rem; }
    h1 img{}
	  #gnb{width: auto; margin-top: 31px; position: relative;} 
	  #gnb>h2{width: 0; height: 0; overflow: hidden;}
	  #gnb>ul{height: 34px;}
  
    .menu_slide{width: 960px; height: 250px; padding: 1rem; padding-top: 1.5rem; box-sizing: border-box; position: absolute; z-index: 500; 
      background-color: rgba(4,42,58,0.8); top: 0; margin-top: 6rem; left: 50%; margin-left: -480px; display: none;}
    .menu_slide>ol{width: calc(25% - 10px); height: 100%; margin-right: 10px; float: left; border-right: 1px solid #ddd;}
    .menu_slide>ol:last-of-type{margin-right: 0; border-right: 0;}
    .menu_slide li{margin-bottom: 10px; display: block; text-align: center;}
    .menu_slide li:last-of-type{margin-bottom: 0;}
    .menu_slide a{color: #fff;}

/* #adBanner ------------------------*/
	#adBanner{width: 100%; height: 55rem;  margin: 0 auto; position: relative; /* overflow: hidden; */}
  

/* #contentBox_01 ------------------------------------------*/
  #contentBox_01{height:45rem;}
  .commonTitle{width: 960px; height: 100px; text-align:center; margin: 0 auto;}
  .commonTitle>h2{}
  .commonTitle>p{}

  .contentIcon{width: 960px; }
  .contentIcon>ul{width: 300px; height: 300px; float: left;}
  .contentIcon>ul>li{}
  .contentIcon a{}
  .contentIcon img{}


/*tips ------------------------------------------*/
  #tipsWrap{width: 100%; height: 18.75rem; position: relative; }
  #tipsWrap>.commonTitle{width: 960px; height: 100px; padding-top: 50px; float: left;} 
  #tipsWrap h2{width: 960px; height: 100px; }
  #tipsWrap img{width: inherit; height: inherit;}
  #tipsWrap button{width: 100px; height: 35px; margin-top: 20px; float: left; border-radius: 20px; border: 3px solid #fff;
    background-color: transparent; float: left;}
  #tipsWrap button:hover{background-color: #f99800; border: 0; color: #fff; transition: all 0.5s;}


/* #contentBox_02 ------------------------------------------*/
  #contentBox_02{width: 100%; height: 53rem;}
  #contentBox_02>ul{width: 960px; height: 410px; margin-top: 50px; background-color: rgba(250,250,250,0.6);}
  #contentBox_02>ul>li{background-color: #ddc; border-bottom: 1px solid #333; box-sizing: border-box; position: relative; float: left;}
  #contentBox_02>ul>li:first-child{width: calc(50% - 10px); height: 100%; margin-right: 10px;}	
  #contentBox_02>ul>li:nth-child(2){margin-bottom: 10px;}
  #contentBox_02>ul>li:nth-child(2), #contentBox_02>ul>li:nth-child(3), #contentBox_02>ul>li:nth-child(4), #contentBox_02>ul>li:last-child{
  	width: -webkit-calc(25% - 5px); 
  	width: -moz-calc(25% - 5px);
  	width: -ms-calc(25% - 5px);
  	width: -o-calc(25% - 5px);
  	width: calc(25% - 5px);
    height: -webkit-calc(50% - 5px); 
  	height: -moz-calc(50% - 5px);
  	height: -ms-calc(50% - 5px);
  	height: -o-calc(50% - 5px);
  	height: calc(50% - 5px);}	
  #contentBox_02>ul>li:nth-child(3){float: right; margin-bottom: 10px;}	
  #contentBox_02>ul>li:nth-child(4){ }	
  #contentBox_02>ul>li:last-child{float: right;}	
  #contentBox_02>ul>li:last-child{margin-bottom: 0;}
  #contentBox_02 img{display: block; width: 100%; height: 100%;}
  #contentBox_02 .hover{padding-top: 45%;}
  #contentBox_02 .hover>p{font-size: 1.3rem;}

/* #videoWrap ------------------------------------------*/
  #videoWrap{width: 100%; height: 37.5rem;}
  #videoWrap>h2{width: 960px; height: 100px; margin: 0 auto;}
  #videoWrap>h2>img{width: inherit; height: inherit;}
  #videoWrap>button{width: 100px; height: 100px;}
  #videoWrap>button>i{font-size: 5rem;}


/* #mapWrap ------------------------------------------*/
	#mapWrap{width: 100%; height: 18.75rem; background-image: url("../../img/main_hawaii_map.svg"); background-size: 60%; 
  background-repeat: no-repeat; background-position: center; background-attachment: fixed; cursor: pointer;} 
  #mapWrap>h2{font-size: 1.3rem;}

/* #contentBox_03 ------------------------------------------*/
	#contentBox_03{height: 61.25rem; }
	.thumbWrap{width: 960px; height: auto; margin: 50px auto 0;}
	.thumbWrap>li{width:25%; height: 15.625rem; float: left;}


/* #footbox -------------------- */	
	#footWrap{width:100%; height:18.75rem; }
  .footBox{width: 960px; height:70%;}
  .footBox>div{/*float: left; margin-right: 15px;*/}
	.footBox>div{width: calc(100% / 3 );  float: left;}

    .otherWrap{ height: 100%;/* background-color: #8dd;*/}
    .infoWrap{ height: 100%;/* background-color: #8dc;*/}
    .localWrap{ height: 50%; /*background-color: #8da;*/ }
    .snsWrap{ height: 50%; /*background-color: #5dd;*/ }
    address{width: 100%; height: 40px; border-top: 1px solid #fff; float: left; margin-top: 30px;}
    address>p{}
