/* pc_culture_arts.css */
@media screen and (min-width:1024px){
  .conBox{width: 70%; height: auto; float: left; margin-top: 20px; background-color: #dd9; padding: 0 0.9375rem; box-sizing: border-box;}
  .conBox>img{width: 100%; height: 350px; background-color: #789; margin-bottom: 3rem;}
  .conBox>p{margin-bottom: 1.25rem;}

  .cateBox{width: 100%; height: auto;}
  .cateBox>form{background-color: #748;}
  .cateBox fieldset{}
  .cateBox legend{width: 0; height: 0; overflow: hidden; display: block;}
  .cateBox label{display: block; width: 0; height: 0; overflow: hidden;}
  .cateBox select{float: right;}
  .cateBox>ul{width: 50%; height: auto;  float: left; padding: 2rem 0; margin-top: 2rem;
      box-sizing:border-box; /*background-color: #8da;*/}

  .cateBox>ul:first-of-type, .cateBox>ul:nth-of-type(3), .cateBox>ul:nth-of-type(5){padding-right: 0.9375rem;}
  .cateBox>ul:nth-of-type(2), .cateBox>ul:nth-of-type(4), .cateBox>ul:last-of-type{padding-left: 0.9375rem;}
  .cateBox>ul:last-of-type{border-bottom: 2px solid #f6f6f6;}
  .cateBox>ul>li{}
  .cateBox .cateBtn>a{color: #f99800;}
  .cateImg{height: 200px; }
  .cateImg>img{width: 100%; height: 100%;}
  .cateTit{height: 30px;}
  .cateTit>h3{width: 100%; }
  .cateTit>h3>a{font-size: 1.2rem;}     
  .cateBtn{height: 25px;}
  .cateBtn>a{width: 100%}
  }
}