/* pc_island.css */
@media screen and (min-width:1024px){
/* #titWrap ------------------------*/
  #titWrap{height: 300px; background-image: url("../../img/titimg/#");}
  .titbox{width: 960px; height: 80px; padding-top: 12.5rem;}
  .titbox>h2{}
  .brdadcrumb{}
  .brdadcrumb>li{}
  .brdadcrumb>li>a{}
  .brdadcrumb i{}

/* #descWrap ------------------------------------------*/
  #descWrap{width: 100%; height: auto;}
    .descBox{width: 960px; height: auto; }
    .cateWrap{width: 100%; height: auto; float: left; }
    .cateWrap>p{}

/*.island*/
  .island{width: 100%; height: 35rem; background-color: #9dd;}
  .island path{cursor: pointer;}

/* .tab*/
  .tab_menu{width: 9.375rem;background-color: #775;}
  .tab_menu>li{}
  .tab_menu>li>a{}
  .tab_menu i{color: #f99800;}
  .tab_menu>li>a:hover i{transform:translate3d(0,0,0); opacity:1; animation:translateArr 1s ease; } 

/**/
    .cateBox{width: 100%; height: auto;}
    .cateBox>ul{width: 50%; height: 520px;  float: left; padding: 2rem 0.9375rem; margin-bottom: 30px;
      box-sizing:border-box;}
    .cateBox>ul>li{}
    .cateBox .cateBtn>a{color: #f99800;}
      .cateImg{height: 300px;}
      .cateImg>img{width: 100%; height: 100%;}
      .cateTit{height: 30px;}
      .cateTit>h3{width: 100%; }
      .cateTit>h3>a{font-size: 1.3rem;}
      .cateDesc{height: 45px;}
      .cateDesc>p{width: 100%;}      
      .cateBtn{height: 25px;}
      .cateBtn>a{width: 100%}

}