/*tab.css */
@media screen and (min-width:768px) and (max-width:1023px) {

	#headBox{height: 6rem;}
		h1{width:10.4375rem; height:4.125rem;}
		#gnb{margin-top:1rem; float: right;}
		#gnb>h2{width: 0; height: 0; overflow: hidden;}
	  #gnb>ul{}
	  #gnb li{float: left;}


/* #addBanner ------------------- */ 
	#addBanner{width: 100%; min-height:40rem; height: 83.333333vw;  background-color: #f54;
		box-sizing: border-box; padding:0 2.8125rem; }
/*	.banner_btn{width: 58px; height: 58px;  
		position: absolute; top: 50%; margin-top: -4.2rem; z-index:100; overflow: hidden;}
		.banner_btn>button{width: 100%; height: 100%; background-color: #aaf; text-indent:-999rem;}
		.banner_btn>button:focus, 	
		.banner_btn>button:hover{outline: 0; background-color: #cca;}

	.left_btn{left:1rem;}
	.left_btn>button{transform:translateX(1rem) rotate(45deg);}
	.right_btn{right:1rem;}
	.right_btn>button{transform:translateX(-1rem) rotate(45deg);}
	
	#bannerBox{display: none;}*/
	
/* #content ----------------------- */
/*	#content{width: 100%;height: auto; background-color: #f72; padding-bottom:2rem;}
	#content::after{content:" "; display: block; clear: both;}
	#content>dl{width: calc(100% / 3); height: auto; float: left; box-sizing:border-box;
		padding:0 0.5rem;}
	#content>dl>dt{text-transform: uppercase; font-size:1.5rem; 
		margin-top: 1.25rem; margin-bottom: 0.5rem;}
	#content>dl>dt::before{content:" "; display:inline-block;
		width:1.375rem; height:1.375rem; margin-right: 0.5rem;
		background-image: url("../../img/content_icon.png"); }
	#content>dl>dd{width: 100%; min-height:10rem; height:20.833333vw; 
		background-color: #fff;
		box-sizing:border-box; border:1rem solid #888;
		display: none;}
	#content>dl>dd:first-of-type{display: block;}*/


/* #contentBox_01 ------------------------------------------*/
#contentBox_01{ background-color: #f9d;}
	#contentBox_01>ul{width: 60rem; height: 30rem; padding: 1.25rem; box-sizing: border-box; }
	#contentBox_01>ul>li{width: 11.25rem; height: 11.25rem; float: left; margin-right: 11rem; }
	  #contentBox_01>ul>li:last-child{margin-right: 0;}




/* #tipsWrap ------------------------------------------*/
#tipsWrap{width: 100%; height: 18.75rem; }



/* #contentBox_02 ------------------------------------------*/
#contentBox_02{width: 100%; height: 61.25rem; background-color: #cc9;}


#videoWrap{width: 100%; height: 37.5rem;  background-color: #aa9;}


#mapWrap{width: 100%; height: 18.75rem; background-color: #8df;}

#contentBox_03{width: 100%; min-height: 36.25rem; height: 75.619295vw;}
#contentBox_03>ul>li{width: 14.375rem; height: 12.5rem; background-color: #976; margin: 0 auto; }

/* #footBox ----------------------- */	
	#footBox{width: 100%; height: 20vw; }	
  #footBox>.snsWrap{}
	.snsWrap>ul{}
	.snsWrap>ul>li{float: left; background-color: #6a6a6a; border-radius: 50%;}
	.snsWrap i{width:3.125rem; height: 3.125rem; color: #fff;  text-align: center; line-height: 2.5rem; 
		font-size: 1.5rem;}
	address{width:auto;height:auto;}
  address>p{color: #fff; font-size: 1rem;text-align:center;margin:0 auto;}
/*  address{}
  address>p{color: #fff;}
*/
	
}/* tab.css